# Copy this example to cfg.py and adjust the contents
# cfg.py
HOST = "irc.twitch.tv"              # the Twitch IRC server
PORT = 6667                         # always use port 6667!
NICK = "bot_your_name_here"         # your Twitch username, lowercase
PASS = "oauth:badbeef" 				# your Twitch OAuth token
CHAN = "#my_name_here"              # the channel you want to join

RATE = (20/30) # messages per second